.container {
    width: 200px;
    /* margin + title */
    min-height: 100%;
    border-radius: 4px;
    margin-left: 20px;
}

.titleContainer {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.title {
    width: 170px;
    text-align: left;
}